<footer class="footer">
  <div class="container-fluid text-center text-md-left">
    <div class="row justify-content-between">
      <div class="col-md-1 footer-nav">
        <ul class="list-inline">
          <li class="footer-item">
            <%= link_to "HOME", root_path, class: "footer-link" %>
          </li>
          <li class="footer-item">
            <%= link_to "SOBRE", about_path, class: "footer-link" %>
          </li>
          <li class="footer-item">
            <%= link_to "LOJA", products_path, class: "footer-link" %>
          </li>
          <li class="footer-item">
            <%= link_to "CONTATO", contact_path, class: "footer-link" %>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none mb-5 mt-5">

      <div class="col-md-3 footer-donate">
        <p class="donate-header">APOIE O PROJETO</p>
        <%= link_to "FAZER DOAÇÃO", root_path, class: "btn" %>
      </div>

      <hr class="clearfix w-100 d-md-none mb-5 mt-3">

      <div class="col-md-3 footer-newsletter">
        <p class="news-header">ASSINE A NEWSLETTER</p>
        <input type="text" placeholder="e-mail" class="email-input">
        <button type="submit" class="btn">ASSINAR</button>
      </div>

      <hr class="clearfix w-100 d-md-none mt-5 mb-5">

      <div class="col-md-3 footer-social mb-3">
        <p>DESCUBRA-NOS NAS REDES SOCIAIS</p>
        <div class="social-links">
          <a href="https://www.instagram.com/mulheresdosulglobal/" target="_blank"><i class="fab fa-instagram mr-3"></i></a>
          <a href="https://www.facebook.com/mulheresdosulglobal" target="_blank"><i class="fab fa-facebook mr-3"></i></a>
          <a href="https://www.linkedin.com/company/mulheres-do-sul-global/" target="_blank"><i class="fab fa-linkedin mr-3"></i></a>
          <a href="https://whats.link/mulheresdosulglobal" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="row no-gutters copyright">
  <p>Mulheres do Sul Global © Todos os direitos reservados.</p>
</div>
