<div class="navbar navbar-expand-sm navbar-light shadow-sm">
  <%= link_to root_path, data: { turbolinks: false }, class: "navbar-icon" do %>
    <%= image_tag "https://i.imgur.com/MrHwiKC.png", size: "170x60" %>
  <% end %>

  <div class="nav-item d-flex">
    <%= link_to "HOME", root_path, class: "nav-link" %>
    <%= link_to "SOBRE", about_path, class: "nav-link" %>
    <%= link_to "LOJA", root_path, class: "nav-link" %>
    <%= link_to "CONTATO", contact_path, class: "nav-link" %>
    <b><%= link_to "APOIE O PROJETO", root_path, class: "nav-link donate" %></b>
  </div>

  <% if user_signed_in? %>
    <div class="nav-item d-flex">
      <a class="cart pt-2 pr-3" href="#" role="button"><i class="fas fa-shopping-cart"></i></a>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <i class="fas fa-user-circle fa-lg avatar text-info ml-3 mt-2 pt-1" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <b><%= link_to "FAZER DOAÇÃO", root_path, class: "btn nav-link text-info" %></b>
            <%= link_to "SAIR", destroy_user_session_path, method: :delete, class: "btn nav-link", data: { confirm: "Você quer mesmo desconectar?" } %>
          </div>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="nav-item d-flex">
      <%= link_to "ENTRAR", new_user_session_path, class: "btn btn-outline-info login mr-2" %>
      <%= link_to "CADASTRAR", new_user_registration_path, class: "btn btn-info signup" %>
    </div>
  <% end %>
</div>
