<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-one">
      <%= image_tag("logo.png")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="image-one">
      <%= image_tag("image-one.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-two">
      <%= image_tag("image-two.jpeg")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="header-two">
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-three">
    </div>
  </div>
  
  <div class="col-xs-12 col-md-6">
    <div class="image-three">
      <%= image_tag("image-three.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-four">
      <%= image_tag("image-four.jpeg")%>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="header-four">
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-12">
    <div class="banner-five">
      <div class="header-five">
        <h1><b>Faça uma doação</b></h1>
      </div>

      <div class="paragraph-five mt-3">
        <p>Apoie o projeto e ajude mais mulheres!</p>
      </div>

      <div class="submit">
        <p class="btn pl-5 pr-5 mt-4"><b>QUERO AJUDAR</b></p>
      </div>
    </div>
  </div>
</div>
