<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-one">
      <%= image_tag("logo.png")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="image-one">
      <%= image_tag("image-one.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-two">
      <%= image_tag("image-two.jpeg")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="header-two">
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-three">
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="image-three">
      <%= image_tag("image-three.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-four">
      <%= image_tag("image-four.jpeg")%>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="header-four">
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-12">
    <div class="banner-five">
      <div class="header-five">
        <h5><b>VAMOS TRANSFORMAR VIDAS JUNTOS</b></h5>
      </div>

      <div class="paragraph-five mt-5">
        <p>
          Apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres
          apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres apoie o projeto e ajude mais mulheres.
        </p>
      </div>

      <div class="founder-avatar mt-5">
        <img src="http://res.cloudinary.com/dnd1jn5pp/image/upload/pnkq9j6kvnff5zl8fd2k" alt="Emanuela Pinheiro">
        <p class="mr-3">
          <b>Emanuela Pinheiro</b>
          <br>
          <i>Fundadora e CEO</i>
        </p>
      </div>
    </div>
  </div>

  <%#= render 'shared/_form' %>

</div>
