<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-one">
      <%= image_tag("logo.png")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="image-one">
      <%= image_tag("image-one.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-two">
      <%= image_tag("image-two.jpeg")%>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="header-two">
      <div class="paragraph-two">
        <h6>
          Somos um negócio social de empoderamento econômico de talentosas mulheres costureiras 
          inseridas em contextos de refúgio e vulnerabilidade social, baseado na promoção do empreendedorismo, 
          capacitação de habilidades, criação e venda de peças têxteis comprometidas com os novos paradigmas 
          de se fazer e consumir sustentável.
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="header-three">
      <div class="paragraph-three">
        <h6>
          Promovemos o treinamento em costura de atelier, disponibilizamos maquinário para trabalhar de casa, 
          buscamos promover o empreendedorismo com a formalização de costureiras micro-empreendedoras, 
          e as conectamos com o mercado.
        </h6>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="image-three">
      <%= image_tag("image-three.jpeg")%>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-xs-12 col-md-6">
    <div class="image-four">
      <%= image_tag("image-four.jpeg")%>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="header-four">
      <div class="paragraph-four">
        <h6>
          Nossos valores são regidos pela <b>tolerância</b>, <b>empatia</b>, <b>responsabilidade social</b>, 
          <b>compromisso coletivo</b>, <b>independência</b>, <b>ética</b> e <b>transparência</b>.
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-12">
    <div class="banner-five">
      <div class="header-five mt-3">
        <h5><b>NOSSOS PARCEIROS</b></h5>
      </div>

      <div class="partners list-inline mt-5">
        <li><%= image_tag("farm.png", class: "farm") %></li>
        <li><%= image_tag("lenny-niemeyer.png", class: "lenny ml-3") %></li>
        <li><%= image_tag("animale.png", class: "animale ml-4 mr-5") %></li>
      </div>
    </div>
  </div>
</div>

<%# <div class="row no-gutters">
  <div class="col-12">
    <div class="banner-five">
      <div class="header-five">
        <h5><b>TRANSFORME VIDAS COM A GENTE</b></h5>
      </div>

      <div class="paragraph-five mt-5">
        <p>
          Mulheres do Sul Global é um negócio social de empoderamento econômico de talentosas mulheres 
          costureiras inseridas em contextos de refúgio e vulnerabilidade social, 
          baseado na promoção do empreendedorismo, capacitação de habilidades, 
          criação e venda de peças têxteis comprometidas com os novos paradigmas de se fazer e consumir sustentável.
          <br>
          <br>
          Um dos maiores desafios para os migrantes refugiados se integrarem em um novo país é o acesso 
          ao mercado de trabalho. Essa dificuldade é ainda maior para as mulheres, que migram com filhos 
          na primeira infância e que devido à sua condição socioeconômica, tornam-se residentes em territórios 
          de vulnerabilidade, comprometendo seu acesso a mobilidade na cidade e consequente dificuldade 
          em conseguir um trabalho que se adeque a jornada com os filhos. A urgência por renda e a completa falta 
          de recursos e redes de contato para investir em maquinário e material de costura (que é o ofício que 
          nosso primeiro grupo de mulheres traz no seu DNA) foram os pilares da fundação do negócio social.
          <br>
          <br>
          Promovemos o treinamento em costura de atelier, disponibilizamos maquinário para trabalhar de casa, 
          buscamos promover o empreendedorismo com a formalização de costureiras micro-empreendedoras, 
          e as conectamos com o mercado.
          <br>
          <br>
          Um modelo que permite a geração de renda para aqueles que produzem e para o negócio social 
          ser auto-sustentável financeiramente. Ao fortalecer o colaborativo e, ao mesmo tempo, jornadas 
          empreendedoras autônomas, promovemos um projeto de trabalho focado nas novas economias, 
          mostrando outras formas de trabalho para além da via do mercado tradicional.
          <br>
          <br>
          Nossos valores são regidos pela tolerância, empatia, responsabilidade social, 
          compromisso coletivo, independência, ética e transparência.
          <br>
          <br>
          Vamos transformar vidas juntos?
        </p>
      </div>

      <div class="founder-avatar mt-5 mb-5">
        <img src="http://res.cloudinary.com/dnd1jn5pp/image/upload/pnkq9j6kvnff5zl8fd2k" alt="Emanuela Pinheiro">
        <p class="mr-3">
          <b>Emanuela Pinheiro</b>
          <br>
          <i>Fundadora e CEO</i>
        </p>
      </div>
    </div>
  </div> %>

  <%#= render 'shared/_form' %>

</div>
