<div class="card-deck">
  <% @products.each do |product| %>
  <div class="row card-img-top col-md-3" >
    <img class=""><%= cl_image_tag product.photo.key, height: 280, width: 280, crop: :fill, alt: product.name %>
    <p><%= "#{product.name}" %></p>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
    
      <% if policy(product).show? %>
        <%= link_to 'Detalhes', product %>
      <% end %>
      
      <% if policy(product).update? %>
        <%= link_to 'Editar', edit_product_path(product) %>
      <% end %>
      
      <% if policy(product).destroy? %>
        <%= link_to 'Deletar', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>
  <% end %>
</div>

<div class='btn-shw-company'>
<% if policy(Product).create? %>
  <%= link_to 'Adicionar novo produto', new_product_path, :class => "btn btn-primary mb-5 mr-3" %>
<% end %>
  
</div>
<br>
<%# console %>
