<div class= 'container'>
  <div class='product-infos'>
    <h3 class="mt-5 mb-3"><strong><%= @product.name.upcase %></strong></h3>
    <ul>
    <p>Em <strong><%= @product.category.capitalize %></strong></p>
    <p><i><%= @product.description %></i></p>
    <p><strong><%= "R$ #{@product.price}" %></strong></p>
    <p>Gêmero: <%= @product.gender.capitalize %></p>    
    <p>Tamanho: <%= @product.size %></p>
    </ul>
  </div>

  <div>
   <% if policy(Product).edit? %>
    <p><%= link_to "Editar Produto", edit_product_path, class: "btn btn-outline-dark" %></p>
    <p><%= link_to "Deletar Produto", product_path(@product.id), class: "btn btn-outline-dark", method: :delete, data: { confirm: "Delete #{@product.name}?" } %></p>
   <% end %>
  <p><%= link_to "Voltar à galeria", products_path, class: "btn btn-dark" %></p>
  </div> 
  
  <div class="product-image ml-5 mt-5 pl-5 mr-5 pr-5">
    <p class="image"><%= cl_image_tag @product.photo.key, height: 500, width: 280, crop: :fill, alt: @product.name %></p>
  </div>























</div>